extends layout

block content
  h1= title
  
  div.container-fluid
    div.row
      -
        let food=result
        
      each food,index in results
        .col-sm-2 
        div.col-sm-2(onclick=`buy(${index})`)
        
          p food Type: #{food.food_type}
          p Size: #{food.food_size}
          p Price: $#{food.food_price.toFixed(2)}

  a(href="/") Back to index

    script. 
        function buy(index) {
            alert(`You purchased item ${index}`);
        }