extends layout

block content
  h1= title
  - let items = results;
  a.btn.btn-primary(href="/food/create") Create Food items 
  .container-fluid
    .row
      each item in items
        - let destination = `/food/update?id=${item._id}`
        - let detail = `/food/detail?id=${item._id}`
        - let deletePath = `/food/delete?id=${item._id}`
        .row-sm-2.m-1 Item #{item.food_type}(#{item.food_size}) is #{item.food_price}
          button.btn.btn-primary.ml-1(onclick=`dispatch('${destination}')`) Update
          button.btn.btn-primary.ml-1(onclick=`dispatch('${deletePath}')`) Delete
          button.btn.btn-primary.ml-1(onclick=`dispatch('${detail}')`) Detail
          

  script.
    function dispatch(path){
      window.location.href = path;
    }
